<ion-header>
    <ion-toolbar color="primary" class="header-toolbar">
        <ion-title class="header-title">Editar Planta</ion-title>
        <ion-buttons slot="end">
            <ion-button class="back-button" (click)="goToPlantList()">
                Volver
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- Contenedor principal para centrar la tarjeta y los botones -->
    <div class="main-container">
        <!-- Tarjeta de la planta -->
        <ion-card *ngIf="plant" class="plant-card">
            <ion-card-header class="ion-text-center">
                <!-- Nombre de la planta -->
                <ion-card-title class="plant-name">{{ plant.name }}</ion-card-title>
                <!-- Horario con icono -->
                <ion-card-subtitle class="plant-schedule">
                    <ion-icon name="time" class="schedule-icon"></ion-icon>
                    {{ plant.horario }}
                </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <!-- Imagen de la planta -->
                <div class="image-container">
                    <img [src]="plant.img" alt="{{ plant.name }}" class="plant-image" />
                </div>

                <!-- Humedad con barra de progreso -->
                <div class="humidity-container ion-margin-top">
                    <p class="humidity-text">Humedad: {{ plant.humedad }}%</p>
                    <ion-progress-bar [value]="plant.humedad / 100" color="secondary"
                        class="humidity-progress"></ion-progress-bar>
                </div>
            </ion-card-content>
        </ion-card>

        <!-- Botones de acciones -->
        <div class="action-buttons">
            <ion-button expand="block" color="danger" class="delete-button" (click)="deletePlant()" shape="round">
                <ion-icon name="trash" class="button-icon"></ion-icon>
                Eliminar Planta
            </ion-button>

            <ion-button expand="block" color="primary" class="edit-button" (click)="gotoEditPlant()" shape="round">
                <ion-icon name="create" class="button-icon"></ion-icon>
                Editar
            </ion-button>
        </div>
    </div>
</ion-content>