<ng-container *ngIf="devices.length > 0; else noDevices">
  <div *ngFor="let device of devices" class="device-card">
    <div class="device-card__header">
      <h3 class="device-card__title">{{ device.deviceId }}</h3>
      <p class="device-card__status">
        Conectado:
        <span [class.connected]="device.connected" [class.disconnected]="!device.connected">
          {{ device.connected ? 'Sí' : 'No' }}
        </span>
      </p>
    </div>
    <div class="device-card__actions">
      <button class="device-button" (click)="viewDevice(device.deviceId)">Ver Detalles</button>
    </div>
  </div>
</ng-container>

<ng-template #noDevices>
  <p class="no-devices-text">No tienes dispositivos enlazados.</p>
</ng-template>

<div class="add-device">
  <button class="add-device-button" (click)="addDevice()">Añadir Dispositivo</button>
</div>
