<!-- Sección de Encabezado -->
<header class="page-header">
  <div class="toolbar">
    <div class="header-title-wrapper">
      <span class="header-icon">🌱</span>
      <h1 class="page-title">Inventario de Plantas</h1>
    </div>
  </div>
</header>

<!-- Sección de Contenido Principal -->
<main class="main-content list-content">
  <div class="plant-list-wrapper">
    <div class="plant-list">
      <app-planta-item *ngFor="let plant of plants" [plant]="plant" class="plant-item"></app-planta-item>
    </div>
  </div>
</main>