<ion-header>
  <ion-toolbar>
    <ion-title>Datos del Sensor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="testSensorData">
    <ion-card-header>
      <ion-card-title>Información del Sensor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Volumen:</ion-label>
          <ion-note slot="end">{{ testSensorData.Volumen }} ml</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Electrovalvula 1:</ion-label>
          <ion-note slot="end">{{ testSensorData.Electrovalvula1 ? 'Abierta' : 'Cerrada' }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Electrovalvula 2:</ion-label>
          <ion-note slot="end">{{ testSensorData.Electrovalvula2 ? 'Abierta' : 'Cerrada' }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Electrovalvula 3:</ion-label>
          <ion-note slot="end">{{ testSensorData.Electrovalvula3 ? 'Abierta' : 'Cerrada' }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Humedad Sensor 1:</ion-label>
          <ion-note slot="end">{{ testSensorData.Humedad1 }} %</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Humedad Sensor 2:</ion-label>
          <ion-note slot="end">{{ testSensorData.Humedad2 }} %</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Humedad Sensor 3:</ion-label>
          <ion-note slot="end">{{ testSensorData.Humedad3 }} %</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!testSensorData">
    <ion-card-header>
      <ion-card-title>No se encontraron datos del sensor</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Por favor, verifica la conexión del sensor.</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>